.info__subtitle {
  margin: 0;
  margin-bottom: 30px;
  max-width: 530px;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  color: #1A1B22;
}

.info__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(26, 27, 34, 0.5);
}

.info__description {
  margin: 0;
  margin-bottom: 56px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #1A1B22;
}

.info__description_span {
  font-weight: 900;
}