.popup__button-submit {
  height: 64px;
  padding: 0;
  margin-top: 39px;
  width: 100%;
  border-radius: 100px;
  border: none;
  box-sizing: content-box;
  outline: none;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  cursor: pointer;
  font-size: 18px;
  line-height: 1.33;
  font-family: 'Roboto';
  font-weight: 500;
  color: #FFFFFF;
}

.popup__button-submit:hover {
  background: #347EFF;
}

.popup__button-submit:active {
  background: #2A65CC;
}

.popup__button-submit_disabled {
  background-color: #fff;
  color: #000;
  border: #000 1px solid;
  opacity: 0.2;
}