.button {
  border-radius: 100px;
  border: none;
  box-sizing: content-box;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.33;
  font-family: 'Roboto';
  font-weight: 500;
  color: #FFFFFF;
}


/* .popup__button-submit_disabled {
  background-color: #fff;
  color: #000;
  border: #000 1px solid;
  opacity: 0.2;
} */