.header__container {
  width: calc(100% - 104px*2);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_light {
  color: #fff;
  border-bottom: 1px solid rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.header_dark {
  color: #1A1B22;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

.header__link {
  color: #B6BCBF;
  font-weight: 500;
}

.header__link:hover {
  opacity: 0.7;
}
.header__link_dark {
  color: #1A1B22;
}

.header__active {
  color: #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
  padding: 0 0 26px 0;
}

.header__active_dark {
  color: #1A1B22;
  border-bottom: 3px solid  #1A1B22;
}

.header__button {
  display: flex;
  align-items: center;
  border: 1px solid #FFFFFF;
  background: none;
  padding: 12px 18px 12px;
}

.header__button:focus{
  box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.5);
}

.header__button:hover{
  box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.5);
}

.header__close {
  display: none;
  width: 24px;
  height: 24px;
}

.header__bar {
  display: none;
}

.header__navbar {
  border: none;
  padding: 0;
}

.header__logout {
  margin-left: 10px;
}

.header__container_dark {
  fill: #1A1B22;
}

.header__button_dark {
  color: #1A1B22;
  border: 1px solid #1A1B22;
}

.header__button_dark:focus{
  box-shadow: 0px 3px 10px rgba(58, 58, 58, 0.5);
}

.header__button_dark:hover{
  box-shadow: 0px 3px 10px rgba(58, 58, 58, 0.5);
}

.header__logout_dark {
  fill: #1A1B22;
}

@media screen and (max-width: 1280px) {
  .header__container {
    width: calc(100% - 80px*2);
  }
}

@media screen and (max-width: 1120px) {
  .header__container {
    width: calc(100% - 40px*2);
  }
}

@media screen and (max-width: 1050px) {
  .header__active {
    padding: 0 0 20px 0;
  }
  .header__button {
    padding: 8px 14px 8px;
  }
}

@media screen and (max-width: 650px) {
  .header__container {
    height: 56px;
    width: calc(100% - 16px*2);
  }
  .header__logo {
    width: 117px;
  }
  .header__nav {
    display: grid;
    position: absolute;
    z-index: 1;
    top: 56px;
    width: 100%;
    max-width: 650px;
    left: 0;
    height: 230px;
    background: #1A1B22;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 200vh 0 200vh rgba(0 0 0/.5);
    visibility: hidden;
  }
  .header__close {
    display: block;
  }
  .header__bar {
    display: block;
  }  
  .header_open {
    visibility: visible;
  }
  .header__list {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
  }
  .header__link {
    font-size: 18px;
    line-height: 3.1;
    padding: 0;
    color: #fff;
  }
  .header__active {
    border-bottom: none;
  }
  .header__button {
    margin: 22px 16px 24px;
    justify-content: center;
    font-size: 18px;
    line-height: 1.33;
    padding: 16px;
  }
  .header__navbar {
    padding: 0;
    margin: 0;
    border: none;
  }
  .header__close_dark {
    color: #1A1B22;
  }
  .header__bar_dark {
    color: #1A1B22;
  }
  .header__nav_dark {
    background: #fff;
  }
  .header__link_dark {
    color: #1A1B22;
  }
  .header_open-light {
    background: #1A1B22;
  }
}
