.header {
  border-bottom: 1px solid rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  margin: auto;
  display: grid;
  grid-template-columns: 200px 1fr auto;
  grid-template-rows: 80px;
  width: 100%;
  align-items: center;
}

.header__button {
  display: flex;
  align-items: center;
  border: 1px solid #FFFFFF;
  background: none;
  padding: 12px 18px 12px;
}

.header__logout {
  margin-left: 10px;
}

.header__logo_black {
  fill: #1A1B22;
}

.header__button_black {
  color: #1A1B22;
  border: 1px solid #1A1B22;
}

.header__logout_black {
  fill: #1A1B22;
}

.header__border_black {
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}