.footer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 104px*2);
  margin: auto;
}

.footer__copyright {
  margin: 0;
  font-family:' Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  color: #B6BCBF;
  align-self: center;
}

.footer__link {
  font-weight: 400;
  color: #1A1B22;
}

.footer__link:last-of-type {
  margin-right: 0;
}

.footer__social {
  min-width: 70px;
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}