.card-news {
  background-color: #F5F6F7;
  padding: 80px 104px 80px;
}
.card-news__list {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  grid-gap: 16px 16px;
  padding: 0;
  width: 100%;
}

.card-news__title {
  margin: 0;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  color: #1A1B22;
  margin-bottom: 64px;
}