.card-news {
  margin: auto;
  width: calc(100% - 104px*2);
  padding: 80px 0 80px;
}

.card-news__container {
  display: flex;
  flex-direction: column;
}
.card-news__list {
  display: grid;
  margin: 64px 0px 64px;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
  grid-gap: 16px 16px;
  width: 100%;
  padding: 0;
}

.card-news__title {
  margin: 0;
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-size: 40px;
  line-height: 1.15;
  color: #1A1B22;
}

.card-news__button {
  max-width: 288px;
  height: 64px;
  padding: 0;
  background: #FFFFFF;
  color: #1A1B22;
  width: 80%;
  align-self: center;
}

.card-news__button:hover {
  opacity: 0.9;
}

.card-news__button_hide {
  display: none;
}
