@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

body {
  max-width: 1440px;
  min-width: 320px;
  height: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}


